.ModalBody {
  border: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.icon {
  color: #52b468;
  width: 208px;
  height: 200px;
}
